.mainDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  margin: 100px auto;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 10px;
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  border-radius: 5px;

}

.inDiv {
  height: 3rem;
  border-radius: 10px;
  border-color: transparent;
}

h1 {
  color: #6699cc;
}

.btDiv {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border-radius: 10px;
  background: #00B4DB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: transparent;
  color: black;
}

.btDiv:hover {
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width:799px){
  .mainDiv{
    width: 75%;
    margin: 50px auto;
  }
}
